header{
    text-align: center;
    background-color: brown;
    border: 5px;

}
div{
    background-color: black;
}
div{
    text-align: center;
    color: bisque;

}


img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }